:root{
  --color-white: #ffffff;
  --color-border:#c4c4c4;
  --color-text-dark:#666666;
  --color-light:#f2f2f2;
  --color-info:#4d4d4d;
  --color-danger:#F25767;
  --color-primary-dark: #593EB2;
  --color-headings:#1a1a1a;
  --color-bg-light:#E7E7F7;
  --color-black:#000000;
  --color-info:#4d4d4d;
}