<div class="policy-content-right-inner"><div class="policy-content-head\"><h4>Terms and Conditions</h4><p>
      Effective Date: September 1, 2022</p><p>Our terms of service and privacy were updated on September 1, 2022, and are
      applicable to all our existing customers.</p></div><h4>Introduction</h4><p>lorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem 
        ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem 
        ipsum ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem lorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem 
        ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem 
        ipsum ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem  
    </p><p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum 
      lorem ipsum lorem ipsum </p><p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum 
        lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum 
        lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum 
        lorem ipsum lorem ipsum </p><h5>By using our Self-Serve Services, you confirm that:</h5><p><span>A. </span>lorem ipsum lorem ipsum lorem 
          lorem ipsum lorem ipsum lorem ipsum lorem ipsum ipsum lorem ipsum ;</p><p><span>B. </span>lorem ipsum lorem ipsum lorem ipsum lorem ipsum;</p><p><span>C. </span>You accept and will
    comply with this Agreement;</p><p><span>D. </span>lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p><p>
    <span>E. </span>lorem ipsum lorem ipsum lorem ipsum lorem ipsum
  </p><h4>B2BMart Terminology</h4><p>
    lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum 
        lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum 
        lorem ipsum lorem ipsum </p><p><span>Content: </span> lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum 
          lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum 
          lorem ipsum lorem ipsum </p><p><span>Customer Content: </span>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum 
            lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum 
            lorem ipsum lorem ipsum </p><p>
    <span>Mentions: </span>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum 
    lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
  </p><p><span>Self-Serve
      Services:</span> lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum 
      lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
  <h4>Acceptable Use Rules</h4><p>1.
      lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum 
      lorem ipsum 
      lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p><h4>Customer Content</h4><p>1. lorem ipsum lorem ipsum lorem 
        ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum 
        lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
  <h4>Submitted Content</h4><p>1. lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum 
    lorem ipsum lorem ipsum lorem ipsum 
    lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
  <p>(i) lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum 
    lorem ipsum 
    lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum and</p><p>(ii)lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem 
      ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum 
      lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum.</p><h4>Account Information</h4>
  <p>1.  lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum  lorem ipsum lorem ipsum lorem 
    ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum .</p>
</div>